body {
    font-family: Arial;
    color: #333;
    padding: 50px;
    line-height: 1.5em;
}

button { 
    padding: 10px;
}

div {
    padding: 20px;
}

#gamecontrol, #score {
    background-color: aliceblue;
}

#game {
    background-color:#eaeaea;
}
#actions {
    background-color: silver;
}

.githublink{
    text-decoration: none;
    color: #AF8023 ;
}

.githublink a{
    color: #DF3A52;
    text-decoration: none;
}